@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.project {
  background: var(--bg);
  border-radius: 0.5em;
  box-shadow: 0 0 2px 2px #0002;
  padding: 0.5em;
  cursor: pointer;

  &_image {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    aspect-ratio: 16/9;

    img {
      background: var(--pri-normal);
      transition: transform 0.25s ease-in-out;
    }
  }

  &_info {
    margin-top: 0.5em;

    .info_start {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;

      h2 {
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: color 0.15s ease-in-out;
      }

      p {
        font-size: 0.9em;
        color: var(--text-soft);
        transition: color 0.15s ease-in-out;
      }
    }

    .info_tags {
      margin-top: 0.25em;
    }
  }

  @include mix.OnlyPc {
    &:hover {
      .project_image {
        img {
          transform: scale(1.05);
        }
      }

      .project_info {
        .info_start {
          h2,
          p {
            color: var(--pri-normal);
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .project {
    box-shadow: 0 0 3px 3px #0005;
  }
}

[data-theme="dark"] .project {
  box-shadow: 0 0 3px 3px #0005;
}

[data-theme="light"] .project {
  box-shadow: 0 0 2px 2px #0002;
}
