@use "@/styles/_dirs/variables" as var;

.carousel {
  max-width: 1200px;
  width: 100%;
  overflow-x: hidden;

  &_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.25em;
    margin-bottom: 0.75em;
    margin-right: 0.5em;

    button {
      border: 1px solid var.$darkest_color;
      background: var.$lightest_color;
      padding: 0.5em;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;

      svg {
        display: block;
      }
    }
  }

  &_wrapper {
    height: 100%;
    display: flex;
    margin-bottom: 7.5px;

    > div {
      flex: 0 0 calc(100% - 250px);

      @media (max-width: 600px) {
        flex: 0 0 calc(100% - 50px);
      }
    }

    &.animation {
      transition: 0.25s ease-in-out;
    }
  }
}
