@use "@/styles/_dirs/variables" as var;

@mixin OnlyPc {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin Scroll {
  &::-webkit-scrollbar {
    max-width: 10px;
    background: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sec-bg);

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
