@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;
@use "@/styles/_dirs/accessibility" as acc;

.select {
  position: relative;
  z-index: 5;

  &_title {
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: none;
    font-size: 1em;
    background: none;
    color: var(--text-normal);
    cursor: pointer;

    p {
      text-transform: uppercase;
      font-size: 0.95em;
    }
  }

  &_container {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background: var(--bg);
    box-shadow: 0 0 5px #0005;
    max-width: 300px;
    border-radius: 0.5em;
  }

  &_options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
    padding: 2em 1.5em;

    .option {
      display: flex;
      align-items: center;
      gap: 0.5em;

      input {
        display: none;
      }

      label {
        cursor: pointer;
        white-space: nowrap;
      }

      &:not(.selected) {
        label {
          color: var(--text-soft);
        }
      }
    }
  }

  &.opened {
    .select_container {
      display: block;
    }
  }
}
