@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;
@use "@/styles/_dirs/accessibility" as acc;

.sort {
  position: relative;
  z-index: 5;

  &_title {
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: none;
    font-size: 1em;
    background: transparent;
    cursor: pointer;
    color: var(--text-normal);

    p {
      text-transform: uppercase;
      font-size: 0.95em;
    }
  }

  &_container {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background: var(--bg);
    box-shadow: 0 0 5px #0005;
    max-width: 300px;
    border-radius: 0.5em;
  }

  &_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
    padding: 2em 1.5em;
    border: none;

    legend {
      @include acc.VisibleOnlyForScreenReaders;
    }

    .option {
      input {
        @include acc.VisibleOnlyForScreenReaders;
      }

      input:focus-visible + label {
        @include acc.FocusVisible;
      }

      label {
        cursor: pointer;
        white-space: nowrap;
      }

      &.selected {
        label {
          text-decoration: underline;
        }
      }
    }
  }

  &.opened {
    .sort_container {
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .sort .sort_container {
    box-shadow: 0 0 5px #0007;
  }
}

[data-theme="dark"] .sort .sort_container {
  box-shadow: 0 0 5px #0007;
}

[data-theme="light"] .sort .sort_container {
  box-shadow: 0 0 5px #0005;
}
