@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.media {
  display: flex;
  gap: 1.5em;

  svg {
    display: block;
    color: var(--pri-normal);
    font-size: 1.5em;
    transition: color 0.25s ease-in-out;

    @include mix.OnlyPc {
      &:hover {
        color: var(--btn-hover);
      }
    }
  }
}
