@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

:root {
  font-size: 1.05em;

  //Default theme
  --bg: #{var.$clr-light-normal};

  --pri-soft: #{var.$clr-pri-dark-soft};
  --pri-normal: #{var.$clr-pri-dark-normal};
  --pri-hard: #{var.$clr-pri-dark-hard};

  --text-soft: #{var.$clr-dark-soft};
  --text-normal: #{var.$clr-dark-normal};
  --text-hard: #{var.$clr-dark-hard};

  --sec-text-soft: #{var.$clr-light-soft};
  --sec-text-normal: #{var.$clr-light-normal};
  --sec-text-hard: #{var.$clr-light-hard};

  --btn-hover: var(--pri-hard);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #{var.$clr-dark-normal};

    --pri-soft: #{var.$clr-pri-light-soft};
    --pri-normal: #{var.$clr-pri-light-normal};
    --pri-hard: #{var.$clr-pri-light-hard};

    --text-soft: #{var.$clr-light-soft};
    --text-normal: #{var.$clr-light-normal};
    --text-hard: #{var.$clr-light-hard};

    --sec-text-soft: #{var.$clr-dark-soft};
    --sec-text-normal: #{var.$clr-dark-normal};
    --sec-text-hard: #{var.$clr-dark-hard};

    --btn-hover: var(--pri-soft);
  }
}

html {
  color-scheme: light dark;
}

[data-theme="light"] {
  --bg: #{var.$clr-light-normal};

  --pri-soft: #{var.$clr-pri-dark-soft};
  --pri-normal: #{var.$clr-pri-dark-normal};
  --pri-hard: #{var.$clr-pri-dark-hard};

  --text-soft: #{var.$clr-dark-soft};
  --text-normal: #{var.$clr-dark-normal};
  --text-hard: #{var.$clr-dark-hard};

  --sec-text-soft: #{var.$clr-light-soft};
  --sec-text-normal: #{var.$clr-light-normal};
  --sec-text-hard: #{var.$clr-light-hard};

  --btn-hover: var(--pri-hard);
}

[data-theme="dark"] {
  --bg: #{var.$clr-dark-normal};

  --pri-soft: #{var.$clr-pri-light-soft};
  --pri-normal: #{var.$clr-pri-light-normal};
  --pri-hard: #{var.$clr-pri-light-hard};

  --text-soft: #{var.$clr-light-soft};
  --text-normal: #{var.$clr-light-normal};
  --text-hard: #{var.$clr-light-hard};

  --sec-text-soft: #{var.$clr-dark-soft};
  --sec-text-normal: #{var.$clr-dark-normal};
  --sec-text-hard: #{var.$clr-dark-hard};

  --btn-hover: var(--pri-soft);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text-hard);
  @include mix.Scroll;

  &.no-transition * {
    transition: none !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.17em;
}

button {
  font-family: var(--font-nunito);
}
