@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

:root {
  font-size: 1.05em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var.$neutral_color_100;
}

body {
  @include mix.Scroll
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.17em;
}
