@use '@/styles/_dirs/variables';

.main {
    padding: 0 2em;

    &_container {
        padding-top: 5em;
        display: flex;
        justify-content: space-between;
        gap: 3em;
        width: 100%;
        min-height: 100dvh;

        @media screen and (min-width: 1517px) {
            min-height: 600px;
        }

        @media screen and (max-width: 978px) {
            min-height: 550px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &_info {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            justify-content: flex-start;
        }
    }

    &_image {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            max-width: 450px;
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        &_title {
            h1 {
                display: flex;
                gap: 0.35em;
                font-size: clamp(0px, 1.2em + 1.25vw, 2.25em);
                line-height: 1em;

                @media screen and (max-width: 1200px) {
                    font-size: clamp(0px, 1.2em + 2vw, 3em);
                    flex-direction: column;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                }

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                }

                .words {
                    display: flex;
                    position: relative;
                    min-width: 280px;

                    span {
                        display: block;
                        position: absolute;
                        animation: changeText 6s linear infinite;
                        color: variables.$third-color;

                        &:first-child {
                            animation: none;
                            position: relative;
                            visibility: hidden;
                        }

                        &:last-child {
                            animation-delay: 3s;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &_description {
            p {
                color: lighten($color: variables.$secondary-color, $amount: 20%);
            }
        }

        // &_download {
        // }
    }
}

.about {
    padding: 0 2em;

    &_container {
        display: flex;
        gap: 2.5em;
        padding: 6.25em 0;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            gap: 4em;
        }
    }

    &_info {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5em;

        .info_title {
            h2 {
                border-top: 5px solid variables.$secondary-color;
                width: fit-content;
                padding-top: 10px;
                text-transform: uppercase;
            }
        }

        .info_content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: 600px;
            width: 100%;

            span {
                color: variables.$third-color;
                font-size: 1.2em;
            }

            p {
                font-size: clamp(0.9em, 0.9em + 0.8vw, 1.15em);
                line-height: 1.5em;
                color: lighten($color: variables.$secondary-color, $amount: 20%);
            }
        }

        @media screen and (max-width: 768px) {
            // gap: 3em;

            .info_title {
                h2 {
                    padding-top: 0;
                    padding-left: 10px;
                    border-top: none;
                    border-left: 5px solid variables.$secondary-color;
                }
            }
        }
    }

    &_image {
        flex: 1 1 40%;

        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            width: 100%;
            aspect-ratio: 1/1;
            background-color: variables.$secondary-color;
            border-radius: 1em;

            &_image {
                flex: 1 1 80%;
                height: 80%;

                img {
                    border-radius: 0.9em 0.9em 0 0;
                }
            }

            &_social {
                flex: 1 1 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
            }
        }
    }
}

.skills {
    padding: 0 2em;

    @media screen and (min-width: 1517px) {
        min-height: 600px;
    }

    @media screen and (max-width: 978px) {
        min-height: 550px;
    }

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;

        padding: 6.25em 0;
    }

    &_title {
        h2 {
            border-left: 5px solid variables.$secondary-color;
            padding-left: 10px;
            text-transform: uppercase;
        }
    }

    &_skills {
        display: flex;
        justify-content: space-between;
        gap: 5em;
        width: 100%;

        .skills_group {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 50%;

            &:last-child {
                align-items: flex-end;
            }

            @media screen and (max-width: 768px) {
                width: 100%;

                &:last-child {
                    align-items: flex-start;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 1em;
        }
    }
}

.projects {
    padding: 0 2em;

    &_container {
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding: 6.25em 0;
    }

    &_title {
        h2 {
            border-left: 5px solid variables.$secondary-color;
            width: fit-content;
            padding-left: 10px;
            text-transform: uppercase;
        }
    }
}

@keyframes changeText {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10%,
    45% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        opacity: 0;
        transform: translateY(5px);
    }
    80%,
    100% {
        opacity: 0;
    }
}
