@use '@/styles/_dirs/variables';
@use '@/styles/_dirs/mixins' as mix;

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    width: 0;
    background-color: variables.$primary-color;
    padding-top: 80px;
    z-index: 98;
    transition: 0.35s ease-in-out;

    &.active {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    &_container {
        overflow: auto;
        width: 100%;
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    &_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        a {
            font-size: calc(2em + 1vw);
        }
    }

    &_social {
        display: flex;
        gap: 1em;

        a {
            font-size: calc(2em + 1vw);

            svg {
                transition: 0.25s ease-in-out;
                transform-style: preserve-3d;
            }

            @include mix.nonMobile {
                &:hover {
                    svg {
                        color: variables.$accent_color;
                    }
                }
            }
        }
    }
}
