@use "@/styles/_dirs/variables" as var;

.error {
  padding: 0 2em;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 7em 0;
    min-height: 100dvh;
  }

  &_404 {
    font-size: clamp(4em, 4em + 7vw, 10em);
  }

  &_joke {
    text-align: center;
  }

  &_link {
    margin-top: 1em;

    a {
      color: var(--pri-normal);
    }
  }
}
