@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.contact {
  padding: 0 1em;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-top: 7em;
    padding-bottom: 2em;
  }

  &_wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    width: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (max-width: 1024px) {
      margin-top: 0;
    }

    .info_header {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      h2 {
        font-size: calc(1.5em + 2vw);
        color: var(--pri-normal);
      }

      p {
        color: var(--text-soft);
      }

      @media (max-width: 1024px) {
        align-items: center;
      }
    }

    .info_contact {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .data {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        box-shadow: 0 0 2px 2px #0001;
        border-radius: 0.5em;
        padding: 1em;

        .type {
          display: flex;
          align-items: center;
          gap: 0.5em;
          font-weight: bold;

          svg {
            font-size: 1.5em;
          }
        }

        .content {
          color: var(--pri-normal);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .contact .info_contact .data {
    box-shadow: 0 0 3px 3px #0003;
  }
}

[data-theme="dark"] .contact .info_contact .data {
  box-shadow: 0 0 3px 3px #0003;
}

[data-theme="light"] .contact .info_contact .data {
  box-shadow: 0 0 2px 2px #0001;
}
