@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.hero {
  padding: 0 2em;

  &_container {
    padding-top: 7.5em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    gap: 1.5em;
    min-height: 100dvh;

    @media (min-width: 1350px) {
      min-height: 600px;
    }

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 680px) {
      min-height: auto;
      padding-top: 4em;
    }

    @media (max-width: 450px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1em;
    }
  }
}
