.skills {
  padding: 0 1em;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-top: 7em;
    padding-bottom: 2em;
  }

  &_dropdown {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;

    .skills_wrapper {
      display: flex;
      flex-direction: column;

      max-width: 500px;
      width: 100%;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0px;

      .skills_wrapper {
        align-items: center;
        max-width: 100%;
      }
    }
  }
}
