@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.dropdown {
  width: 100%;
  transition: background 0.25s ease-in-out;
  height: fit-content;

  &_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 0.25em;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
    color: var(--text-normal);

    .button_wrapper {
      display: flex;
      align-items: center;
      gap: 1em;

      .icon {
        svg {
          display: block;
          font-size: 1.5em;
          color: var(--pri-normal);
        }
      }
    }

    .icon > svg,
    .button_arrow > svg {
      transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
    }

    .button_arrow {
      svg {
        display: block;
        font-size: 1.25em;
        color: var(--pri-normal);
      }
    }

    @include mix.OnlyPc {
      &:hover {
        background: var(--pri-soft);
        color: var(--sec-text-normal);

        svg {
          color: var(--sec-text-normal) !important;
        }

        @media (prefers-color-scheme: dark) {
          background: var(--pri-soft);

          svg {
            color: var(--sec-text-normal) !important;
          }
        }

        [data-theme="light"] {
          background: var(--pri-soft);
          color: var(--sec-text-normal);

          svg {
            color: var(--sec-text-normal) !important;
          }
        }

        [data-theme="dark"] {
          background: var(--pri-hard);

          svg {
            color: var(--sec-text-normal) !important;
          }
        }
      }
    }
  }

  &_skills {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;

    &_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }

    &_bar {
      .bar {
        width: 100%;
        border-radius: 0.5em;
        background: var(--pri-soft);
        height: 8px;

        &_percent {
          background: var(--pri-hard);
          border-radius: 0.5em;
          height: 100%;
        }
      }
    }
  }

  &.active {
    border-radius: 0.25em;

    .dropdown_skills {
      max-height: 500px;
    }

    .dropdown_button {
      .info_button {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
