@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.filter {
  position: relative;
  z-index: 5;

  &_title {
    display: flex;
    align-items: center;
    gap: 0.25em;
    cursor: pointer;

    p {
      text-transform: uppercase;
      font-size: 0.95em;
    }
  }

  &_container {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background: var.$neutral_color_100;
    box-shadow: 0 0 5px #0005;
    max-width: 300px;
    border-radius: 0.5em;
  }

  &_options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
    padding: 2em 1.5em;


    .option {
      display: flex;
      align-items: center;
      gap: 0.5em;

      input{
        width: 18px;
        aspect-ratio: 1/1;
        cursor: pointer;
      }

      label {
        cursor: pointer;
        white-space: nowrap;
      }

      &:not(.selected) {
        label {
          color: var.$neutral_color_600;
        }
      }
    }
  }

  &.opened {
    .filter_container {
      display: block;
    }
  }
}
