@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.95em;
  position: relative;

  &:after{
    content: '';
    width: 100%;
    height: 1px;
    background: var.$neutral_color_900;
    position: absolute;
    left: 0;
    bottom: 2px;
  }
}
