@use "@/styles/_dirs/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 500px;
  width: 100%;

  box-shadow: 0 0 2px 2px #0001;
  border-radius: 0.5em;
  padding: 2em;

  &_input {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &_button {
    max-width: 200px;
    width: 100%;
  }

  &_err {
    color: var.$support_color_err;
    font-size: 0.9em;
  }
}
