@use "@/styles/_dirs/variables" as var;

.input {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 1em;
    outline-color: var.$brand_color_500;
    border: 1px solid var.$darkest_color;
    border-radius: 0.5em;
    font-size: 1em;
    background: var.$lightest_color !important;

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      font-size: 0.8em;
      font-weight: bold;
      top: -8px;
      left: 12px;
      transform: translateY(0);
      background: var.$lightest_color;
      padding: 0 0.5em;
    }

    &:focus ~ label {
      color: var.$brand_color_500;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    /* This will target Mozilla Firefox */
    &:-moz-autofill {
      box-shadow: 0 0 0 30px white inset !important;
    }
  }

  label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    transition: 0.25s ease-in-out;
  }
}
