@use '@/styles/_dirs/variables';
@use '@/styles/_dirs/mixins' as mix;
.mouseEffect {
    pointer-events: none;

    @include mix.nonMobile {
        width: 25px;
        height: 25px;
        position: absolute;

        background-color: rgba(variables.$accent-color, 0.2);
        border-radius: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 5px rgba(variables.$accent-color, 0.1);
        transition: opacity 0.2s ease-in-out;
    }
}
