@use '@/styles/_dirs/variables';
@use '@/styles/_dirs/mixins' as mix;

.socialMedia {
    display: flex;
    align-items: center;
    gap: 1em;

    &_link {
        a {
            font-size: calc(1.2em + 0.25vw);

            svg {
                transition: 0.25s ease-in-out;
            }

            @include mix.nonMobile {
                &:hover {
                    svg {
                        transform: scale(1.05);
                        color: variables.$accent-color;
                    }
                }
            }
        }
    }
}
